---
import PageHeader from "@components/PageHeader.astro";
// import Shape from "@components/Shape.astro";
import Base from "@layouts/Base.astro";
import IntegrateMedia from "@layouts/function-components/KomunitasMedia";
import Ctakomunitas from "@layouts/partials/Ctakomunitas.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { getEntryBySlug } from "astro:content";
const komunitasIndex = await getEntryBySlug<any, string>(
  "komunitas",
  "-index"
);
const categories = await getTaxonomy("komunitas", "categories");
const komunitas = await getSinglePage("komunitas");
const page_data = {
  ...komunitasIndex.data,
  content: komunitasIndex.body,
};
---

<Base
  title={komunitasIndex.data.title}
  meta_title={komunitasIndex.data.meta_title}
  description={komunitasIndex.data.description}
  image={komunitasIndex.data.image}
>
  <!-- <Shape /> -->
  <section class="page-hero pb-14 pt-1">
    <div class="container">
      <PageHeader page_data={page_data} />
    </div>
  </section>
  <IntegrateMedia
    client:load
    komunitas={komunitas}
    categories={categories}
  />
  <Ctakomunitas />
</Base>
