---
import { Image } from "@astrojs/image/components";
import config from "@config/config.json";
import dateFormat from "@lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@lib/utils/textConverter";
const { summary_length } = config.settings;
const { posts } = Astro.props;
---

<h2 class="h4 mb-4">Rekomendasi Bacaan</h2>
<div class="row">
  {
    posts.map((post: any) => (
      <div class="mb-0 p-2.5 md:col-3">
          <div class="card">
            <a href={`/blog/${post.slug}`} aria-label={`Baca Selengkapnya ${post.data.title}`}>

            <Image
              class="card-img"
              width={540}
              height={338}
              src={post.data.image}
              alt={`ilustrasi ${post.data.title}`}
            />
            <div class="card-content">
              <div class="card-tags space-x-1">
                {post.data.categories.map((category: any) => (
                  <a class="tag" href={`/categories/${slugify(category)}`} aria-label={`Cari bacaan ${post.data.categories} lainnya`}>
                    {humanize(category)}
                  </a>
                ))}
              </div>
              <h3 class="h5 card-title">
                <a href={`/blog/${post.slug}`} aria-label={`Baca Selengkapnya ${post.data.title}`}>{post.data.title}</a>
              </h3>
              <div class="card-footer mt-0 flex space-x-4">
                <span class="inline-flex items-center text-xs text-[#666]">
                  <svg
                    class="mr-0.5"
                    width="14"
                    height="16"
                    viewBox="0 0 14 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.5 2H11V0.375C11 0.16875 10.8313 0 10.625 0H9.375C9.16875 0 9 0.16875 9 0.375V2H5V0.375C5 0.16875 4.83125 0 4.625 0H3.375C3.16875 0 3 0.16875 3 0.375V2H1.5C0.671875 2 0 2.67188 0 3.5V14.5C0 15.3281 0.671875 16 1.5 16H12.5C13.3281 16 14 15.3281 14 14.5V3.5C14 2.67188 13.3281 2 12.5 2ZM12.3125 14.5H1.6875C1.58438 14.5 1.5 14.4156 1.5 14.3125V5H12.5V14.3125C12.5 14.4156 12.4156 14.5 12.3125 14.5Z"
                      fill="#939393"
                    />
                  </svg>
                  {dateFormat(post.data.date)}
                </span>
                <span class="inline-flex items-center text-xs text-[#666]">
                  <svg
                    class="mr-1 h-[14px] w-[14px] text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 18"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="0.8"
                      d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"
                    />
                  </svg>
                  {post.data.author}
                </span>
              </div>
            </div>
          </a>

          </div>
      </div>
    ))
  }
</div>
